@import '../../../shared/scss/index.scss';

.ui.vertical.menu-left{
    border-top: 10px $primary-color solid;
    display:flex;
    justify-content: space-between !important;
    border-radius: 0;
    background-color: $background-light;
    height:100vh;
    width:100%;
    padding-top: 50px;

    .item,
    a.item{
        color: $font-dark;
        font-weight: bold;
        font-size: 16px;
        border-left: 4px solid transparent;
        width: 100%;

        &:hover,
        &.active{
            color: $primary-color !important;
            background-color: transparent !important;
            cursor: pointer;
        }

        &.active{
            border-color: $primary-color;
        }
    }

   



}