@import '../../shared/scss/index.scss';

.estudios-content{
  
  float:left;
  background-color: #E6E6EA;
  width: 100%;
   overflow: hidden;
  .contenedor-tarjeta{
    display:flex;
    align-items:center;
    width:30%;
    height:400px;
    
    float:left;
    
    margin-top: 50px;
    margin-bottom: 30px;

    .card{
     
      align-items: center;
      margin: 60px;
      height:100%;
      float:left;
      

      .header{
        text-align: center;
        margin:20px;
      }
    }


  }
    
}
