.ui.form{
    .field{
        div.ui.icon.input{
            margin-bottom: 5px;

            input{
                background-color: $background-grey;
                border: 0;
                font-size: 16px;
                color:$font-light;
                

                &:hover,
                &:active,
                &:focus{
                    background-color: $background-grey-hover;
                    border: 0;

                }
            }

            i{
                color:$font-light;
                font-size: 19px;
            }

            &.error{
                input{
                    border-bottom: 1px solid $danger;
                }
            }
        }
    }

    .error-text{
        color: $font-light;
        padding-left: 15px;
    }

}

